:root {
    --color_primary: #20254d;
    --color_secondary: #31f0c7;
    --color_tertiary: #ffffff;
}
@font-face {
    font-family: Questrial-Regular;
    src: url(assets/fonts/Questrial-Regular.ttf);
}
html {
    background-color: var(--color_primary);
    background: rgb(1,5,33);
    background: linear-gradient(0deg, rgba(1,5,33,1) 0%, rgba(32,37,77,1) 100%);
    height: 100%;
    color: var(--color_tertiary);
    display: table;
    margin: auto;
    font-family: Questrial-Regular;
}
body {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    animation: fadeIn 2s;
}
canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 50%;
}
h1 {
    font-size: 5em;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 15vh 0;
    color: var(--color_secondary);
}
h2 {
    font-size: 1em;
    margin: 0 0 5vh 0;
}
button {
    margin-bottom: 2em;
}
label {
    font-family: Arial;
}
#rowMain {
    height: 90vh;
    padding-top: auto;
    padding-bottom: auto;
}
#columnMain {
    justify-content: center;
}
#dog {
    width: 300px;
    margin-bottom: 5vh;
}
#buttonForm {
    margin: 0;
    margin-top: 10px;
    text-align: left;
    width: 6em;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoContainer {
    width: 150px;
}
.buttonGeneral, .buttonSpecific, input[type=submit] {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color_tertiary);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    margin: 0 2em 0 2em;
    text-align: center;
    font-size: 1em;
    width: 8em;
}
.buttonSpecific {
    border: 1px solid var(--color_tertiary);
    height: 2em;
    width: 10em;
    border-radius: 1em;
    text-align: center;
    padding: 0;
}
.buttonGeneral:hover, .buttonSpecific:hover, input[type=submit]:hover {
    color: var(--color_secondary);
    border-bottom: 1px solid rgba(49, 240, 199, 0.25);
}
.buttonGeneral:active, .buttonSpecific:active {
    filter: brightness(0.7);
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: Arial;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    padding: 20px;
  }