:root {
    --color_primary: #20254d;
    --color_secondary: #31f0c7;
    --color_tertiary: #ffffff;
}
html {
    background-color: var(--color_primary);
    color: var(--color_tertiary);
    height: 100%;
    display: table;
    margin: auto;
    font-family: Arial;
}
body {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    animation: fadeIn 2s;
}
h1 {
    font-size: 3em;
    margin: 0 0 5vh 0;
}
h2 {
    font-size: 1em;
    margin: 0 0 10vh 0;
}
#rowMain {
    height: 90vh;
    padding-top: auto;
    padding-bottom: auto;
}
#columnMain {
    justify-content: left;
}
#discordDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
}
.logoContainer {
    width: 300px;
}
.buttonGeneral, .buttonSpecific {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color_tertiary);
    border: none;
    cursor: pointer;
    padding: 1em 0 1em 0;
    text-align: left;
    font-size: 1em;
}
.buttonSpecific {
    border: 1px solid var(--color_tertiary);
    height: 2em;
    width: 6em;
    border-radius: 1em;
    text-align: center;
    padding: 0;
}
.buttonGeneral:hover, .buttonSpecific:hover {
    color: var(--color_secondary);
    border-color: var(--color_secondary);
}
.buttonGeneral:active, .buttonSpecific:active {
    filter: brightness(0.7);
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}