:root {
    --color_primary: #20254d;
    --color_secondary: #31f0c7;
    --color_tertiary: #ffffff;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: Regular;
    src: url(assets/fonts/CourierPrime-Regular.ttf) format('truetype');
}

html {
    background-color: var(--color_primary);
    background: rgb(1, 5, 33);
    background: linear-gradient(0deg, rgba(1, 5, 33, 1) 0%, rgba(32, 37, 77, 1) 100%);
    height: 100%;
    color: var(--color_tertiary);
    font-family: Regular !important;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img {
    width: auto;
    height: 50%;
}

button {
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    cursor: pointer;
    color: white;
    font-family: Regular !important;
}

button:hover {
    background-color: var(--color_secondary);
    color: var(--color_primary);
}

main {
    width: 50vw;
    max-width: 800px;
    overflow: scroll;
}

#header {
    width: 100%;
    height: auto;
}

#backer {
    padding-top: 22px;
    padding-right: 20px;
    color: var(--color_secondary);
    text-decoration: none;
}

.column {
    height: 100%;
    width: 25vw;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_large {
    width: 100%;
    margin: 0 0 10px 0;
}

.btn_small {
    width: 100%;
}

.mini_padder {
    width: 40px;
    height: 100%
}